/* Style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark gray text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

body.dark-mode {
    background-color: #212529; /* Dark background */
    color: #f8f9fa; /* Light text */
}

.navbar-dark {
    background-color: #343a40; /* Dark gray navbar */
    transition: background-color 0.3s ease;
}

body.dark-mode .navbar-dark {
    background-color: #000; /* Darker navbar in dark mode */
}
body.dark-mode .navbar-brand {
  color:#f8f9fa;
}

header {
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Blue gradient */
    transition: background 0.3s ease;
}
body.dark-mode header {
   background: linear-gradient(to bottom, #343a40, #000);
}

.card {
    transition: transform 0.2s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

body.dark-mode .card-text {
    color: white;
}

body.dark-mode .card-title {
    color: white;
}

body.dark-mode .card {
    background-color: #343a40; /* Dark card background */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Lighter shadow in dark mode */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

body.dark-mode .btn-primary {
    background-color: #0056b3;  /*Different shade in darkmode*/
    border-color: #0056b3;
}
body.dark-mode .btn-primary:hover{
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d; /*Bootstrap's secondary color*/
    border-color: #6c757d;
    color: #fff; /* Text color for better contrast */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

body.dark-mode .btn-secondary {
    background-color: #495057; /* Darker secondary in dark mode */
    border-color: #495057;
    color: #fff;
}

body.dark-mode .btn-secondary:hover {
    background-color: #343a40;
    border-color: #343a40;
}
.modal-content {
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

body.dark-mode .modal-content {
    background-color: #343a40; /* Dark modal background */
}
body.dark-mode .modal-header .btn-close{
    color:#f8f9fa;
    background-color:#f8f9fa;
}
.img-fluid {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

body.dark-mode .img-fluid {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Lighter shadow in dark mode */
}

.dropdown-menu{
    background-color: rgb(242, 241, 243);
    width:200px;
    color:rgb(255, 255, 255);
    border:1px solid white;
    padding:10px;
    transition: background-color 0.3s ease;
}
body.dark-mode .dropdown-menu{
    background-color: #343a40;
}

body.dark-mode .dropdown-item{
    color: white;
}

.nav-link{
    color:white !important;
}
.btn{
    color:white;
    border:1px solid white;
}
.padding-left{
    padding-left: 10px;
}

.project-card {
    opacity: 0; /* Initially hide the cards */
    transform: translateY(50px); /* Start slightly below their final position */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project-card.animate-card {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to final position */
}

/* Style the toggle switch */
.form-switch .form-check-input {
    width: 3em; /* Larger switch */
    height: 1.5em;
    cursor: pointer;
}
body.dark-mode footer{
   background-color: #000;
}
